<%= form_tag "/musics/search", method: "GET" do %>
  <%= label_tag :Search %><br>
  <%= text_field_tag :keyword %><br>
  <%= select_tag(:sort, options_for_select([['accuracy', 1], ['popularity', 2], ['recent', 3]], 1)) %><br>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @musics.each do |music| %>
    <li>
      <%= link_to music.title, music %>,
      <%= music.artist %>,
      <%= music.album %>,
      <%= music.like %>
    </li>
  <% end %>
</ul>
